html, body {
	height: 100%;
}

table {
	margin: 0px !important;
	padding: 0px !important;
}

.block {
	margin: 0px;
	padding: 10px;
	min-width: 50%;
	min-height: 50%;
	float: left;
	border: 1px solid #DDD;
}

.miniblock {
	margin: 0px;
	padding: 10px;
	width: 33%;
	min-height: 20%;
	float: left;
	border: 1px solid #DDD;
	vertical-align: middle;

}

img {
	margin: auto;
}

.name {
	font-size: 24pt;
}

.health {
	font-size: 44pt;
}

.combo {
	font-size: 34pt;
	padding: 0px;
	margin: 0px;
}

.treatment {
	font-size: 24pt;
	margin: 0px;
}

.btn-attack {
	font-size: 24pt;
}

.btn-solve {
	font-size: 16pt;
}

.vc {
	vertical-align: middle !important;
}

.vb {
	vertical-align: bottom !important;
}