html, body {
	height: 100%;
}

body {
	padding-top: 51px;
}

table {
	margin: 0px !important;
	padding: 0px !important;
}

.block {
	margin: 10px 0 0 10px;
	padding: 5px;
	min-width: 320px;
	border: 1px solid #DDD;
	display: inline-block;
	overflow: hidden;
}

.addplayer {
	margin: auto;
	text-align: center;
	font-size: 50pt;
}

/* navbar */
.navbar-header:after {
	clear: none !important;
}

.navbar-right {
	float: right !important;
}
/* User card */

img {
	margin: auto;
}

.image-avatar {
	width: 33%;
	float: left;
	margin: 0 7px 0 0;
}

.info {
	text-align: left;
}

.block .glyphicon {
	margin-top: 6px;
	margin-right: 3px;
}

p {
	margin-bottom:3px;
}

.username, .health, .probablity, .tasks {
	vertical-align: top;
}

.health, .probablity, .tasks {
	font-size: 17px;
}

.username, .health, .probablity, .tasks {
	display: inline;
}

.username {
	font-size: 20px;
}

.btn {
	border-radius: 0px;
}

.damage {
	display: inline;
	font-size: 19px;
	vertical-align: middle;
	margin-left: 10px;
}

.actionbar, .attackbar {
	margin-top: 5px;
}

.hidden {
	display: none;
}


.text {
	font-size: 15pt;
}

/* new player */
.form-group {
	margin-bottom: 0px !important;
}
