html, body {
	height: 100%;
}

body {
	padding-top: 51px;
}

table {
	margin: 0px !important;
	padding: 0px !important;
}

.block {
	margin: 10px 0 0 10px;
	padding: 5px;
	min-width: 320px;
	border: 1px solid #DDD;
	display: inline-block;
	overflow: hidden;
}

.btn, .form-control {
	border-radius: 0px;
}

.hidden {
	display:none;
}

/* navbar */

.navbar-header:after {
	clear: none !important;
}

.navbar-right {
	float: right !important;
}
/* User card */

.table, th {
	text-align: center;
}

tr.square>td {
	background-color: #D9EDF7
}

tr.hospital>td {
	background-color: #DFF0D8
}

tr.resuscitation>td {
	background-color: #FCF8E3
}

tr.morgue>td {
	background-color: #F5F5F5
}

/* new player */
.form-group {
	margin-bottom: 0px !important;
}
