tr.not>td {
  background-color: #555555 !important;
}

tr.level>td {
  font-size: 25px;
  padding:0px 5px;
}

tr.square>td {
  background-color: #56BFF3;
}

tr.square:hover>td {
  background-color: #80EDF7;
}

tr.hospital>td {
  background-color: #7FF14F;
}

tr.hospital:hover>td {
  background-color: #B0F0A0;
}

tr.resuscitation>td {
  background-color: #EED345;
}

tr.resuscitation:hover>td {
  background-color: #FFF8A0;
}

tr.morgue>td {
  background-color: #A5A5A5;
}

tr.morgue:hover>td {
  background-color: #D6D6D6;
}

td.name, th.name, td.plName {
  text-align: left;
}

td>.btn {
  font-size: 18px;
  margin: 2px;
  padding: 0px 12px;
}

.plActions {
  white-space: nowrap;
  text-align: right;
}

.plHealth {
  text-align: right;
}

option {
  background-color: white;
  color: black;
}