%head
  %title Математическая перестрелка
  %link{:rel => "stylesheet",
        :type => "text/css",
        :href => "css/bootstrap.css" }
  %link{:rel => "stylesheet",
        :type => "text/css",
        :href => "css/style.css" }

  %meta{:"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
