%nav.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
  .container
    .navbar-header
      %a.navbar-brand Математическая перестрелка
    .navbar-left
      %button#backward.btn.btn-default.navbar-btn{"data-container" => "body", "data-placement" => "bottom", "data-title" => "Отменить ход", "data-toggle" => "popover", :type => "button"}
        %span.glyphicon.glyphicon-step-backward
      %button#forward.btn.btn-default.navbar-btn{"data-container" => "body", "data-placement" => "bottom", "data-title" => "Повторить ход", "data-toggle" => "popover", :type => "button"}
        %span.glyphicon.glyphicon-step-forward
      %button#daynight.btn.btn-default.navbar-btn{"data-container" => "body", "data-placement" => "bottom", "data-title" => "Текущий режим игры", "data-toggle" => "popover", :type => "button"}
        Добавление игроков
      %button#settings.btn.btn-default.dropdown-toggle.navbar-btn{"data-container" => "body", "data-placement" => "bottom", "data-target" => "#settings-modal", "data-title" => "Настройки игры (сохраняются автоматически)", "data-toggle" => "modal", :type => "button"}
        %span.glyphicon.glyphicon-wrench
      %button#saves.btn.btn-default.dropdown-toggle.navbar-btn{"data-container" => "body", "data-placement" => "bottom", "data-target" => "#saves-modal", "data-title" => "Сохранения", "data-toggle" => "modal", :type => "button"}
        %span.glyphicon.glyphicon-floppy-disk
      %button#stats.btn.btn-default.dropdown-toggle.navbar-btn{"data-container" => "body", "data-placement" => "bottom", "data-target" => "#stats-modal", "data-title" => "Статистика", "data-toggle" => "modal", :type => "button"}
        %span.glyphicon.glyphicon-stats
    %p#version.navbar-text.navbar-right