!!! html5
%html
  = Haml::Engine.new(File.read('_head.haml')).render
  %body
    = Haml::Engine.new(File.read( '_nav.haml')).render
    = Haml::Engine.new(File.read( '_main.haml')).render
    .container
      .row
        %table#players.table
          %tr
            %th ID
            %th.command Команда
            %th
              %span.glyphicon.glyphicon-heart.with-tooltip(data-toogle="popover" data-placement="bottom" data-title="Здоровье")
            %th
              %span.glyphicon.glyphicon-screenshot.with-tooltip(data-toggle="popover" data-placement="bottom" data-title="Урон")
            %th.with-tooltip(data-toggle="popover" data-placement="left" data-title="Количество решённых и нерешённых задач") Р/Н
          %tr
            %td 1
            %td.command Гвоздика
            %td 100
            %td 14
            %td 12/4
          %tr
            %td 2
            %td.command Земляника
            %td 65
            %td 12
            %td 11/10


    = Haml::Engine.new(File.read( '_scripts.haml')).render
